.profile-pic-container {
  position: relative;
  margin-bottom: 20px;
}
.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ddd;
}

.profile-form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-group {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  
}

.profile-form label {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

